/* ito yung css para lagyan shadow ng name ng website yung nasa Navigator */
.navbar-brand {
    color: black;
    text-shadow: 5px 5px 10px black;

}

.navbar-brand:hover {
    color: black;
    text-shadow: 1px 1px 10px black;
}

/* ito yung makikita mo sa navigator yung mga 'Home Link Dropdown at disabled' */
.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
    text-shadow: 5px 5px 10px black;
}

.nav-link:after {
    color: black;
    text-shadow: 5px 5px 10px black;
}

.navbar-toggler {
    border: 1px solid black;
}

body {
    background-color: #ffffff;
    height: auto;

}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: .5rem;
    margin-left: .5rem;
    background-color: black;
    padding: 10px;
    height: auto;
    width: auto;
}

.card-body {
    background-color: black;
    color: grey;
}

.card:hover {
    box-shadow: 0 5px 20px 0 black;

}

.card-body:hover {
    color: white;
}

.instruments_container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    padding: 5%;
}

#logo {
    width: 80px;
    height: 50px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.signUp:hover {
    background-color: #0d6efd;
    color: #d8e8fe;
}

@media only screen and (max-width: 767px) {
    /* .signUp{
        width: 8em;
        margin-left: 590%;   
    }
    .signIn{
        width: 8em;
        margin-left: 600%;
        color: #d8e8fe;
    } */
    .signUp,.signIn {
      width:50px ;
    }
  }

.signUp,.signIn {
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
}

/* .signInsignUp {
    margin-left: 60vw;
}  */